<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card text-white bg-primary" style="max-width: 20rem;">
      <p style="margin-top: 1rem" align="center">Watchlist App</p>
      <a href="/users/login" class="btn btn-secondary">Login</a>
      <a href="/users/signup" class="btn btn-secondary">Sign Up</a>
    </div>
  </div>
</div>